body {
    background: url(Background.jpg);
}

h1 {
    color: white;
    font-family: 'Slackey', cursive;
    font-size: 50px;
}

.randomnum {
    height: 100px;
    font-family: 'Special Elite', cursive;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

.winloss {
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Slackey', cursive;
}

.yourscore {
    height: 30px;
    color: white;
    font-family: 'Slackey', cursive;
    font-size: 22px;
    text-align: center;
}

#score {
    background-color: hsla(296, 17%, 29%, 0.35);
    ;
    height: 150px;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Radley', serif;
    color: white;
}

.gembuttons {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.gembuttons:hover {
    background: none;
}

.insbutton {
    background-color: teal;
}

.instructions {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    float: right;
    box-shadow: none;
}

.losses {
    float: right;
}

#winnum {
    font-family: 'Radley', serif;
    font-size: 18px;
}
